
* {
    margin: 0;
    padding: 0;
}
.allBody {
    background-color: #f6f6f6;
    height: 800px;
    margin-top: 100px;
    border: 1px solid #ccc;
}

.box {
    width: 350px;
    height: 350px;
    margin: 100px;
    border: 1px solid #ccc;
    position: relative;
}

.big {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 360px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}

.big img {
    position: absolute;
    z-index: 999;
}

.mask {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: move;
    display: none;
}

.small {
    position: relative;
}

.textBody {
    height: 500px;
    width: 600px;
    float: right;
    right: 20%;
    top: 30%;
    position: absolute;
}
.textBody p {
    font-size: 40px;
    padding-left: 70px;
    padding-top: 30px;
}
.price {
    margin-top: 100px;
}
.price p {
    color: red;
}

.liandong {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 65%;
    border: 0;
    left: 50%;
}

.btn-login {
    position: absolute;
    font-family: "微软雅黑";
    color: #fff;
    background: #3582f8;
    border: 0;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    left: 65%;
    bottom: 20%;
}
.peisong {
    position: absolute;
    left: 48%;
    bottom: 32%;
}
